.home{
  @apply
    py-10
    px-4
    md:px-8
    lg:px-32;
  &__header{
    @apply 
      flex
      space-y-5
      lg:space-y-0 
      flex-col
      lg:flex-row 
      items-center
      lg:justify-between
      my-10;
    &-search{
      @apply 
        flex 
        space-x-6 
        items-center;
    }
    &-select{
      @apply 
        lg:flex
        items-center;
      p{
        @apply text-gray-500 text-center;
      }
      div{
        @apply flex flex-wrap md:flex-nowrap justify-center;
      }
    }
    &-selector{
      @apply mx-3;
    }
  }
  &__alert{
    @apply
      mx-auto
      mt-16 mb-12;
  }
  &__body{
    &-refresh{
      @apply
      flex
      justify-end;
      &-icon{
        @apply
        h-10
        w-10
        ;
      }
    }
    &-info{
      @apply
      py-4
      flex
      items-center
      justify-between;

      p:first-child{
        @apply text-lg;
      }
    }
    &-loading-txt{
      @apply 
      text-gray-500
      text-xl;
    }
    &-empty{
      @apply pt-10;
      p{
        @apply
        text-gray-500 
        text-3xl 
        my-4 
        text-center;
      }
      &-icon{
        @apply
        mx-auto;
      }
    }
    &-dogs{
      @apply
      grid 
      gap-y-12
      gap-x-20
      grid-cols-body;
    }
  }
}